/*-------------------------------general---------------------------------*/
/*
color1:#62928e;
color2:#f6c36a;
 */
*{
    margin: 0;
    padding: 0;
}
a, a:hover{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    /*font-family: 'Roboto',sans-serif;*/
    overflow-x: hidden;
}


.title{
    /* font-family: 'Courier New', Courier, monospace; */

}



/*-------------------------------//general---------------------------------*/

/* Required for full background image */
.menu-icon{
    display: none;
}
@media (max-width: 740px) {

}
@media (min-width: 800px) and (max-width: 850px) {

}

.btn .fa {
    margin-left: 3px;
}

.top-nav-collapse {
    background-color: #d06f1a !important;

}

.navbar:not(.top-nav-collapse) {
    background:  #fff;
}
.veille .navbar:not(.top-nav-collapse) {
    background:  #1b1e218a;
}

@media (max-width: 991px) {

}

h6 {
    line-height: 1.7;
}

.mask .row{
    position: absolute;
    top: 10%;
    width: 100%;
    left: 5%;
}

.fadeInLeft{
    height: 100vh;

}

.navbar{
    box-shadow: 0 0 10px #ddd;
    height: 50px;
}
/************************ sidebar ***************************************/
.menu-icon{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    background-color: #36333c;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;

}
.ant-menu.ant-menu-sub{
    width: auto;
}
.menu-icon span{
    width: 100%;
    height: 4px;
    display: block;
    background-color: #fff;
    margin: 6px 0;
    transition: .5s;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    /*background: rgba(194, 188, 188, 0.397);*/
    transition: .5s;
    box-sizing: border-box;
    background-color: #353232;

}

.sidebar.active{
    left: 0;
}


/*------------------------------*/
.menu-icon.active span{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);

}

.menu-icon.active span:nth-child(1){
    transform: rotate(45deg);
}

.menu-icon.active span:nth-child(2){
    display: none;
}

.menu-icon.active span:nth-child(3){
    transform: rotate(-45deg);
}

/************************* //sidebar ********************************/
/*************************** accordion ******************************/

.accordion{
    margin-top: 90px;
}

.accordion h5{
    color:white;

    font-weight: 100;
    letter-spacing: 2px;
}

.accordion li a{
    letter-spacing: 3px;
    color:white;
    font-weight: bold;

}


.accordion ul li{
    text-align: center;
}
.card-body {
    margin-top: -100px;
    border-radius: none !important;
    padding-top: 100px;
    background-color: transparent !important;
}

.list-group-item{
    background: none !important;
}

.log ul{
    position: absolute;
    top: 45px;
    right: 90px;
    display: flex;
    list-style: none;
}
.log ul li{
    margin-left: 15px;
}

/************************ //accordion *********************************/
/*************************** scrollbar ******************************/

.custom-scrollbar {
    height: 170px;
    overflow-y: scroll;
}
/* To style the document scrollbar, remove `.custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}


/*************************** //scrollbar ******************************/
/******************************* caroussel **********************************************************/
.fadeInRight .swiper-slide img{
    width: 120px;
    height: 120px;
}

/*
.view .detail{
  position: absolute;
  right: 10%;
} */
/********************************** //caroussel ***************************************/

.card img{
    height: 160px;
    width: 100%;

}

.fadeInRight{
    position: absolute;
    right: 90px;
}

/*********************************************************************** sold ********************************************************************************************/


.sold h1{
    font-size: 40px;
    text-align: center;
}

/*-----------------------------
# [Color variable]
----------------------------- */
/*-----------------------------
# [Breakpoint Variable]
----------------------------- */
/*-----------------------------
# [Typography]
----------------------------- */
/*-----------------------------
# [Media Visibility Utils]
----------------------------- */
.search-nan{
    min-width: 50%;
    display: block;
}
@media (max-width: 600px) {
    .search-nan{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .hidden-xs {
        display: none;
    }
}
/*-----------------------------
# [MIXIN]
----------------------------- */
h6, .h6 {
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-bottom: 0.2em;
}

/* List - Text - Link
-------------------------------------------------------------- */
html {
    font-size: 1rem;
}

@media (min-width: 600px) {
    html {
        font-size: 1.1rem;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 1.1rem;
    }
}
@media (min-width: 1440px) {
    .box{
        width: 23.5rem !important;
        height: 39rem !important;
    }
    .card__text-content{
        margin-top: 170px !important;
    }
    .card__text-content .card-title{
        font-size: 40px !important;
    }
    .card__text-content p{
        font-size: large !important;
    }
    html {
        font-size: 1rem;
    }
}

/* body {
  color: #3f465e;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
} */

img {
    max-width: 80%;
}

a {
    color: #222;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

dl {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

dt {
    flex-basis: 30%;
    min-width: 30%;
    padding-right: 5%;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px dotted #e1e3ea;
    text-align: right;
}

dd {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    margin-bottom: 15px;
    border-top: 1px dotted #e1e3ea;
    flex-basis: 65%;
    min-width: 65%;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #e1e3ea;
    border-bottom: 1px solid #ffffff;
}
.all-1 .title{
    margin: 25px 0px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"] {
    border: 1px solid #e5e5e5;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"],
input[type="button"],
input[type="number"],
input[type="email"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="passwords"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}



/* List - Text - Link -------------------------------------------------------------- */
/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #596377;
    opacity: 1;
    font-size: inherit;
}

::selection {
    background: #00A5B4;
    /* Safari */
    color: #fff;
}

::-moz-selection {
    background: #00A5B4;
    /* Firefox */
    color: #fff;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/* Select-------------------------------------------------------------- */
/* MISC
-------------------------------------------------------------- */
.pl-1r {
    padding-left: 1rem;
}

.pl-2r {
    padding-left: 2rem;
}

.pl-3r {
    padding-left: 3rem;
}

.pl-4r {
    padding-left: 4rem;
}

.pr-1r {
    padding-right: 1rem;
}

.pr-2r {
    padding-right: 2rem;
}

.pr-3r {
    padding-right: 3rem;
}

.pr-4r {
    padding-right: 4rem;
}

.pt-1r {
    padding-top: 1rem;
}

.pt-2r {
    padding-top: 2rem;
}

.pt-3r {
    padding-top: 3rem;
}

.pt-4r {
    padding-top: 4rem;
}

.pb-1r {
    padding-bottom: 1rem;
}

.pb-2r {
    padding-bottom: 2rem;
}

.pb-3r {
    padding-bottom: 3rem;
}

.pb-4r {
    padding-bottom: 4rem;
}

.p-1r {
    padding: 1rem;
}

.p-2r {
    padding: 2rem;
}

.p-3r {
    padding: 3rem;
}

.p-4r {
    padding: 4rem;
}

.p-5r {
    padding: 5rem;
}

.p-6r {
    padding: 6rem;
}

.p-0 {
    padding: 0 !important;
}

.mb-1r {
    margin-bottom: 1rem;
}

.mb-2r {
    margin-bottom: 2rem;
}

.mb-3r {
    margin-bottom: 3rem;
}

.mb-4r {
    margin-bottom: 4rem;
}

.mt-1r {
    margin-top: 1rem;
}

.mt-2r {
    margin-top: 2rem;
}

.mt-3r {
    margin-top: 3rem;
}

.mt-4r {
    margin-top: 4rem;
}

figure img {
    display: block;
}

.figure,
figure {
    overflow: hidden;
}

.figure img {
    height: 100%;
    max-width: none;
}

.figure,
figure {
    text-align: center;
    display: block;
}

.figure-2 {
    display: block;
    overflow: hidden;
}

.figure-2 img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.figure-2 span {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.figure-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.figure-3 img {
    min-height: 0;
    max-height: 100%;
    display: inline;
}

.reset {
    margin-bottom: 0;
}

.reset td {
    padding: 0;
}

table.reset {
    width: 100%;
}

table.reset tr td {
    vertical-align: top;
    padding: 0 10px 5px 0;
    text-align: left;
}

.overhidden {
    overflow: hidden;
}

.muted {
    color: #596377;
}

.link {
    color: #222;
}

hr.line {
    border-top: 1px solid #e1e3ea;
}
hr.dashed {
    border-top: 1px dashed #e1e3ea;
}

img.align-left {
    float: left;
    margin: 8px 20px 10px 0;
}
img.align-right {
    float: right;
}
img.align-center {
    margin: 0px auto;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-center {
    text-align: center !important;
}


/* OVERRIDE BOOTSTRAP -------------------------------------------- */
/* EXTENDS */
.btn-click-me {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
}
.btn-click-me:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(0, 165, 180, 0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}
.btn-click-me span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.btn-click-me svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}
.btn-click-me:hover {
    text-decoration: none;
    color: #fff;
}
.btn-click-me:hover:before {
    width: 100%;
    background: #00a5b4;
}
.btn-click-me:hover svg {
    transform: translateX(0);
    stroke: #fff;
}
.btn-click-me:hover:active {
    transform: scale(0.96);
}

.woocommerce .mystyle-products {
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    height: 350px;
    margin: 0;
    min-width: 100%;
    padding: 0;
    white-space: nowrap;
}
.woocommerce .mystyle-products::-webkit-scrollbar-track
{
    display: none;
}
.abss{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -99;
    background: #d06f2224; /*linear-gradient(to right, #f6c36a,#62928e);
    -webkit-filter: blur(1px);*/
}
.abs{
    position: absolute;
    top: 45%;
    z-index: 999;
    cursor: pointer;
    width: 32px;
}
.prev{
    left: -5%;
}
.next{
    right: -5%;
}
.woocommerce .mystyle-products::-webkit-scrollbar
{
    width: 0px;
    display: none;
}

.woocommerce .mystyle-products::-webkit-scrollbar-thumb
{
    display: none;
}
.woocommerce .mystyle-products.slider-products .product {
    width: auto;
    margin-bottom: 0;
}

.woocommerce .mystyle-products .product {
    height: 330px;
    width: 16.67%;
    position: relative;
    padding: 0px 20px;
    display: inline-block;
}
.woocommerce .mystyle-products .product:hover {
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 7;*/
}
.woocommerce .mystyle-products .product:hover .btn-circle {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.ul{
    list-style: none !important;
    margin: 10px auto !important;
}
.ul #category .description{
    border: none !important;
}
.woocommerce .mystyle-products .product h3 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    height: 39px;
    overflow: hidden;
}
.woocommerce .mystyle-products .product > a {
    position: relative;
    display: block;
    color: #333;
}
.woocommerce .mystyle-products .product > a:hover {
    text-decoration: none;
}
.woocommerce .mystyle-products .product .add_to_cart_button {
    display: none;
}
.woocommerce .mystyle-products .product .attachment-shop_catalog {
    display: block;
    margin: 0 auto;
}
.woocommerce .mystyle-products .product .btn-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    color: #fff;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
    /* Effect */
    -webkit-transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, -webkit-transform .5s .25s ease-out;
    -moz-transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, -moz-transform .5s .25s ease-out;
    -ms-transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, -ms-transform .5s .25s ease-out;
    -o-transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, -o-transform .5s .25s ease-out;
    transition: color .5s .001s ease-out, background .3s .001s ease-out, visibility .5s .25s ease-out, opacity .5s .25s ease-out, transform .5s .25s ease-out;
}
.woocommerce .mystyle-products .product .price {
    font-size: 14px;
}
.woocommerce .mystyle-products .product .price ins {
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
}
.woocommerce .mystyle-products .product .price del {
    color: #666;
    font-size: 11px;
    padding-right: 7px;
    white-space: nowrap;
}
.woocommerce .mystyle-products .product .price .sale-tag {
    color: red;
    font-size: 12px;
    padding-left: 7px;
    font-weight: 700;
}
.woocommerce .mystyle-products .onsale {
    z-index: 6;
    position: absolute;
    top: 21px;
    left: 0px;
    padding: 2px 10px;
    background: #e41919;
    color: #fff;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
    height: 25px;
    line-height: 25px;
    font-size: 0.8rem;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}
.woocommerce .mystyle-products .onsale:before, .woocommerce .mystyle-products .onsale:after {
    content: "";
    position: absolute;
}
.woocommerce .mystyle-products .onsale:before {
    width: 7px;
    height: 33px;
    top: 0;
    left: -6.5px;
    padding: 0 0 7px;
    background: inherit;
    border-radius: 5px 0 0 5px;
}
.woocommerce .mystyle-products .onsale:after {
    width: 5px;
    height: 5px;
    bottom: -5px;
    left: -4.5px;
    background: #880f0f;
    border-radius: 5px 0 0 5px;
}

@media (max-width: 768px) {
    .mystyle-products .product {
        width: 50%;
    }
}
@media (max-width: 560px) {
    .mystyle-products .product h3{
        margin: 0 !important;
        height: auto !important;
        max-width: 98%;
    }
    .woocommerce .mystyle-products{
        height: 250px !important;
    }
    
    .int.head .tit{
        font-size: small !important;
        margin: 0 !important;
    }
    .int.head .more{
        font-size: xx-small !important;
    }
    .int.head .qte{
        letter-spacing: 0px !important;
        font-size: 9px !important;
    }
    .sold h1{
        font-size: 25px;
        /*
        ajouter une meilleur police
         */
    }
    .intent{
        margin: 10px 20px !important;
    }
    .head int{
        margin-left: -30px;
    }
    .p-40{
        padding: 0 !important;
        margin-bottom: 30px !important;
    }
    .box{
        width: 14.5rem !important;
        height: 20rem !important;
        transition: 1s all !important;
    }
    .btnRight{
        right: 9% !important;
    }
    .containerss{
        padding-top: 70px !important;
    }
    .mystyle-products {
        display: block;
    }
}
section.m-60, section.container{
    margin-top: 60px;
}


/*
    Pannier
*/
.notFound{
    background: url("../images/404.jpg") no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}
.hiden{
    position: fixed;z-index: 50;left: 0px; right: 0; height: 130px;bottom: -8%;
}
.shower{
    position: fixed;z-index: 50;left: 0px; right: 0; height: 130px;bottom: 9%;
}
/*---------- FIN PANIER ________*/

/*********************************************************************** //sold  rgba(255, 249, 249, 0.767)   ********************************************************************************************/
/*********************************************************************** tout les barners ********************************************************************************************/
.baner_01, .baner_02, .baner_03, .baner_04{
    padding: 90px 0px 0px 130px;
    height: 55vh;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.info-bulle{
    position: relative;
    background: rgba(250, 2, 2, 0.767);
    height: 200px;
    width: 500px;
    top: 30%;
    left: 15%;
}

.info-bulle .title{
    padding-top: 40px;
    margin-left: 25px;
    text-align: left;
    color: #5d5a5a;
    font-weight: bold;
}

.info-bulle p{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.info-bulle .link{
    text-align: center;
}

/*********************************************************************** //tout les barner ***************************************************************************************/


/*********************************************************************** meuble ********************************************************************************************/
.all-1 .container{
    padding: none !important;
}

.meubles{
    height: 50vh;
    margin-top: 60px;
}
.meubles .title{
    margin: 60px 0;
}

.meubles .no{
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
}

.meubles .mystyle-products .product{
    width: 20% !important;
}

.meubles .mystyle-products .product:hover .no {
    box-shadow: none !important;

}

/*********************************************************************** //meuble ********************************************************************************************/

/*********************************************************************** categorie ********************************************************************************************/

.categorie{
    height: 100vh;
    background: #d9d9d9;
    margin-top: 100px;
}
.p-40{
    padding: 5px 90px;
    margin-bottom: 90px;
}
.indigo{
    background-color: #02f5b89d !important;
}

.nav-tabs .nav-item .nav-link{
    color: #000 !important;
    font-weight: bold;
}

/* mixin for multiline */
.card {
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.cardbottom {
    border-bottom: none
}
.intent{
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.head.int{
    position: relative;

    margin: 5px 20px 10px;
    display: flex;
    justify-content: center;
}
.int.head .tit{
    color: #44474b;
    border-left: 3px solid rgba(2, 137, 97, 0.6);
    font-size: 17px;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: Heebo;
    text-transform: capitalize;
    margin-right: 20px;
    padding-left: 10px;
}
.int.head .qte{
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    /*font-family: Heebo;*/
    text-transform: lowercase;
    background-color: rgba(2, 137, 97, 0.6);
    border-radius: 10px;
    padding: 0 10px;
}
.int.head .more:hover{
    text-decoration: underline;
}
.int.head .more{
    color: #555;
    font-size: small;
    letter-spacing: 1px;
    font-weight: normal;
    /*font-family: Heebo;*/
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: -20px;
}
.card-img img {
    padding: 15px;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.categorie .card-body {
    margin-top: -100px;
    border-radius: 15px;
    padding-top: 100px;
    background-color: #ffffff !important;
}
.card-text {
    display: block;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    max-height: 72px;
}

.cardValidation {
    /* -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   */
    width: 60%;
    display: inline-block;
    float: left;
}
.rel{
    min-width: 100%;
    margin: 0;
}
.rel ul{
    padding: 0 10px;
    width: 45%;
    list-style: none;
    display: inline-block;
}
.rel ul li{
    font-size: .8em;
}
.rel ul.validationRigth li{
    text-align: right;
}
.yabanaColor{
    color: #d06f1a;
}
.yabanaBg{
    background: #d06f1a;
}

.card .card-body .card-text{
    font-size: 15px !important;
    color: #000;
    font-weight: 100;

}

.card-title{
    font-weight: 100;
}

.card-body ul li{
    margin-right: 10px;
}
.card-body ul li a i{
    font-size: 20px;
    color: #4285f3;
}

.icon{
    margin-top: 30px;
}
/*********************************************************************** //categorie ********************************************************************************************/
.cards__container .box{
    background-size: cover !important;
    position: relative;
}
.headValid{
    height: 100px;
}
.containerss {
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    cursor: pointer;
}

.button--inactive {
    opacity: 0.2;
}

.button img {
    width: 40px;
}

.cards-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box {
    /*     margin: -1.5rem; */
    width: 19.5rem;
    height: 30rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* transition: 1s all; */
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
    left: 5%;
}

.box:nth-child(4) {
    left: -5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
    left: 15%;
}

.box:nth-child(5) {
    left: -15%;
}

.card__text-content {
    margin-top: 60px;
    text-align: center;
    width: 75%;
}


.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}


.move-to-position1-from-left{
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right{
    animation: moveToP5Right 0.5s ease-in-out;
}
.move-to-position4-from-right{
    animation: moveToP4Right 0.5s ease-in-out;
}
.move-to-position3-from-right{
    animation: moveToP3Right 0.5s ease-in-out;
}
.move-to-position2-from-right{
    animation: moveToP2Right 0.5s ease-in-out;
}
.move-to-position1-from-right{
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}


@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}


@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }
    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }
    to {
        transform: scale(0.75) translateX(0);
    }
}



/*****
Concernat le Caroussel
 */

.btnRight, .btnLeft{
    position: absolute;
    top: 48%;
    height: 60px;
}
.btnLeft{
    left: 4%;
}
.btnRight{
    right: 4%;
}



/*****------------ Panier ----------******/
section#pannier{
    display: flex;
}
.pan_1{
    flex: 3;
}
.pan_2{
    flex: 1;
}
.pan_3{
    width: 38%;
    display: inline-block;
}
.pan_2 .interieur, .pan_3 .interieur{
    padding: 30px 20px;
}
.interieur img{
    max-width: 100% !important;
}
.interieur .card-header{
    padding: 0 !important;
    max-width: 100%;
    background: #fff;
    height: 250px;
}

.interieur .card-header h3{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.rele ul li{
    margin-top: 20px;
}
#pannier .abs{
    position: absolute;
    right: 0;
    top: -5%;
    height: 35px;
}
/*
.interieur .card-header ul{
  display: flex;
  list-style: none;

} */
/*
.interieur .card-header ul li{
  padding-left: 90px;
} */

/* .interieur .card-header ul li:nth-child(2){
  position: absolute;
  right: 2%;

} */

/*.pan_2, .pan_1 {
    margin-top: 100px;
}*/
.item {
    background: #fff;
    position: relative;
    float: left;
    margin-top: 120px;
    opacity: 1;
    transform: scale(1);
    width: 350px;
    margin: 60px 20px 0px;
}
.item .imgcont img {
    width: 170px;
}
.item.active .imgcont img {
    width: 220px;
    margin-top: 20px;
}
.item.active .titlesec {
    width: 300px;
}

.item:first-child .prodnav .prev {
    opacity: 0;
}
.item:last-child .prodnav .next {
    opacity: 0;
}

/*
------------------------ rgba(255, 255, 255, 0.37)-------------------
 */

.all{
    position: relative;
    width: 30%;
    margin: 0 25px 0px;
    background-color: rgba(255, 255, 255, 0.37);
}

.all .title h3{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 !important;
}
.all .title{
    top:20%;
    left: -10%;
    position: absolute;
    height: 40px;
    width: 140px;
    background-color: #fff;
    border: 2px dashed rgb(187, 108, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.all .sect{

    padding-top: 25%;
}

.all .sect p{
    text-align: center;
}

.all a{
    color: rgb(187, 108, 5);
}

/*
---------------------------------------FIN
 */
.prodcont {
    position: relative;
    display: block;
    padding: 5px 5px 45px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.prodshade {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100px solid #d06f1aa8;
    border-left: 130px solid #d06f1acf;
    border-bottom: 100px solid transparent;
    border-right: 130px solid transparent;
}
div.starratting i {
    font-size: 10px;
}
.prodtitle {
    z-index: 99;
    display: block;
    position: relative;
    padding:2px;
    margin-top: 20px;
    margin-left: 35px;
}
.starratting i {
    color: #3E86C0;
}
.titlesec {
    background-color: #ffffffa3;
    padding: 10px 0 10px 15px;
    margin: 5px 0;
    clear: both;
    display: table;
    width: 100%;
    color: #555;
    position: relative;
    width: 300px;
    box-shadow: -1px 7px 35px -10px #3333332e;
}
.titlesec h1 {
    font-size: 1.3em;
    margin-right: 20px !important;
    font-weight: normal;
    margin: 0;
}
.titlesec .prodleftdetails {
    float: left;
    display: inline-block;
    width: 60%;
}
.titlesec .prodleftdetails .prodsize {
    font-size: 12px;
    margin-right: 8px;
}
.titlesec .prodrightdetails {
    float: left;
    display: inline-block;
}
.titlesec .prodrightdetails .prodqty {
    font-size: 35px;
    margin-left: 12px;
}
.prod-addtocardM {
    position: absolute;
    bottom: 3px;
    right: 18px;
    background-color: #d06f22;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px !important;
    display: inline-block;
    border-radius: 100%;
    height: 50px;
    line-height: 53px;
    box-shadow: 0 0 10px 2px #ccc;
    cursor: pointer;
}
.prod-addtocard img, .prod-addtocardM img{
    margin-top: -24px !important;
}
.prod-addtocard {
    position: absolute;
    top: 3px;
    right: 18px;
    background-color: #d06f22;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px !important;
    display: inline-block;
    border-radius: 100%;
    height: 50px;
    line-height: 53px;
    box-shadow: 0 0 10px 2px #ccc;
    cursor: pointer;
}
.proddel {
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}
.imgcont,
.prodpric {
    text-align: center;
}
/*
Suggestion Panier
 */
.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.none{
    display: none !important;
}
.btn,
.btn-large,
.btn-small,
.btn-flat {
    border-radius: 4px;
    font-weight: 500;
}
.stepper {
    list-style: none !important;
}
.card-product {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    color: #444;
}
.card-product .card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}
.card-product .card-body section + section {
    margin-top: 1rem;
}
.card-product .card-body .product-title {
    max-width: 80%;
    font-size: 1.1rem;
}
.card-product .card-body .product-desc {
    font-size: 0.8rem;
    color: #dadada;
    margin-top: 0.3rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.card-product .card-body h1 {
    font-size: 0.8rem;
}
.card-product .card-body .sizes li {
    display: inline-block;
    font-size: 0.8rem;
    color: #dadada;
    margin-top: 0.3rem;
}
.card-product .card-body .colors {
    margin-top: 0.3rem;
}
.card-product .card-body .colors .color {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #333;
}
.card-product .card-body .colors .color.circle {
    border-radius: 50%;
}
.card-product .card-body .colors .red {
    background: red;
}
.card-product .card-body .colors .green {
    background: green;
}
.card-product .card-body .colors .blue {
    background: blue;
}
.card-product .card-body .card-price {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #A762EB;
}
.card-product .card-action {
    text-align: center;
    display: flex;
}
.card-product .card-action button {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0;
    background: #e97d22;
    width: 100%;
    transition: color 0.175s ease;
    font-weight: bold;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border: none !important;
    outline: none;
}
.card-product .card-action button:hover {
    color: #fff;
    background: rgba(255, 140, 32, 1);
    font-weight: bold;
}

.addr{
    color: #888;
}
/************************validation**************************/
.paypal{
    height: 20vh;

}

.paypal .pay{
    align-items: center;
    justify-content: center;
}

.paypal .pay ul{
    position: relative;
    display: flex;
    list-style: none;
    left: 35%;
    margin-top: 100px;

}

.paypal .pay ul li{
    width: 80px;
    height: 50px;
    /* background: #000; */
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid gray;

}

.paypal .pay ul li img{
    height: 100%;
    min-width: 100%;
}
/**************************************************footer***********************************************************************/

footer .mb-0{
    color: #fff !important;
}

.at-button {
    z-index: 10000000;
    position: fixed;
    right: 24px;
    bottom: 24px;
    background: #FFF;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 100%;
    box-sizing: border-box;
    color: #666;
    -webkit-animation: at-ripple 0.6s linear infinite;
    animation: at-ripple 0.6s linear infinite;
}
.at-button:hover i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.at-button i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: 0.3s ease;
}

@-webkit-keyframes at-ripple {
    0% {
        box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
    }
    100% {
        box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0);
    }
}

@keyframes at-ripple {
    0% {
        box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
    }
    100% {
        box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0);
    }
}

/*
NEW CARD OF PRODUCT
 */

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s linear 0s;
}
 .post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
 .post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
}
.post-module .thumbnail {
    background: #fff;
    height: 400px;
    overflow: hidden;
}
.contentNight .post-module .thumbnail{
    background: #1b1e218a;
}
.post-module .thumbnail .date {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background: #d06f22;
    width: 35px;
    height: 35px;
    padding-top: 2px;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
}
.post-module .thumbnail .date .day {
    font-size: 10px;
    border-bottom: 1px solid;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
}
.post-module .thumbnail .date .month {
    font-size: 11px;
    text-transform: uppercase;
    color:#fff;
}
.post-module .thumbnail img {
    display: block;
    min-width: 100%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}
.post-module .post-content .description{
    border: none !important;
}
#category .text.py-3.pb-4.px-3{
    background-color: #e0e0e029;
}
.contentNight .post-module .post-content{
    background-color: transparent;
}
.post-module .post-content {
    position: absolute;
    bottom: 0px;
    background: #FFFFFF;
    white-space: normal;
    width: 100%;
    padding: 30px 20px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    /* transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s; */
}
.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #d06f22;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 17px;
    font-weight: 700;
}
.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #d06f22;
    font-size: 14px;
    font-weight: 400;
}
.post-module .post-content .description {
    transition: all .3s;
    opacity: 0;
    display: block;
    color: #666666;
    font-size: 12px;
}
.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}
.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}
.post-module:hover .post-content{
    transition: all .3s;
    bottom: 51px;
}
.contentNight .post-module:hover .post-content{
    background-color: #fff;
}
.contentNight .post-module:hover .post-content .title{
    color: #000;
}
.contentNight .post-module .post-content .title{
    color: #fff;
}
.post-module:hover .post-content .description{
    display: block;
    opacity: 1;
    transition: all .3s;
}
.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}
.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}



/*



FOR COMPARE PRODUCT
 */



.test ul{
    padding: 0px;
    width: 33%;
    display: inline-block;
    list-style: none;
}
.test ul li{
    padding: 10px !important;
    height: 70px;
    border: 1px solid #aaa;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    line-height: 1em;
}
.test .prod li:first-child{
    height: 100px;
    border: none;
}
.test .params li {
    color: #777;
}
.test .prod li img{
    width: 95px;
    height: 95px;
}
.test .prod li p{
    margin-bottom: 0px !important;
    font-size: 12px !important;
    position: relative;
    display: block !important;
}


/*
----------------------------------------------media-----------------------------------------
*/

@media only screen and (max-width:2500px){
    .baner_01{
        height: 55vh;
    }

    .all .sect p{
        font-size: 18px;
    }
}

@media only screen and (max-width:1500px){
    .woocommerce .mystyle-products .product{
        width: 25%;
    }


/*
--------------------------baner
*/

    .all .sect{
    padding-top: 35%;
    }

    .all .sect p{
        font-size: 15px;
    }

    .all .title{
        width: 100px;
    }


    .all .title h3{
        font-size: 12px;
    }

/*
--------------------------baner//
*/    
}


@media only screen and (max-width:1200px){
    .woocommerce .mystyle-products .product{
        width: 24.67%;
        
    }

/*
--------------------------baner
*/

.all{
    width: 50%;
}


.all .title{
    height: 30px;
}


.all .sect p{
    font-size: 12px;
}

/*
--------------------------baner//
*/ 

    
}


@media only screen and (max-width:1200px){
    .int.head {
        display: grid;
    }

    .int.head .tit{
        font-size: 15px;
        letter-spacing: 2px;
        
    }

    .int.head .more{
        font-size: 10px;
    }
    .p-40{
        padding: 5px 50px !important;
    }


    .post-content .post-meta span img{
        height: 25px !important;
        width: 25px !important;
    }
/* 
    .post-content .post-meta .bag{
        right: 0% !important;
    }

    .post-content .post-meta .view{
        right: 30% !important;
    }

    .post-content .post-meta .compare{
        right: 50% !important;
    }

    .post-content .post-meta .share{
        right: 80% !important;
    } */
}


@media only screen and (max-width:990px){
    .woocommerce .mystyle-products .product{
        width: 33.67%;
    }
}

@media only screen and (max-width:795px){
    .head.int{
        justify-content: space-between;
    }

    .int.head .tit{
        font-size: 10px;
        letter-spacing: 1.5px;
    }

    .p-40{
        padding: 5px 20px !important;
    }

    /* .post-content .post-meta .bag{
        right: 0% !important;
    }

    .post-content .post-meta .view{
        right: 30% !important;
    }

    .post-content .post-meta .compare{
        right: 50% !important;
    }

    .post-content .post-meta .share{
        right: 80% !important;
    } */

}


@media only screen and (max-width:760px){
    .woocommerce .mystyle-products .product{
        width: 50.67%;
    }

    .post-module .post-content .category{
        font-size: 10px;
    }
}

@media only screen and (max-width:650px){

    .p-40{
        padding: 5px 20px !important;
    }

    .baner_01{
        height: 30vh;
        padding: 88px 0px 0px 70px;
    }

    .all{
        width: 80%;
    }

    .post-content .post-meta span img{
        height: 20px !important;
        width: 20px !important;
    }

    /* .post-content .post-meta .bag{
        right: 0% !important;
    }

    .post-content .post-meta .view{
        right: 30% !important;
    }

    .post-content .post-meta .compare{
        right: 50% !important;
    }

    .post-content .post-meta .share{
        right: 80% !important;
    } */
 
}