.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.content, .contentNight{
    min-height: 100vh;
}
::-webkit-scrollbar {
  width: 7px;
}
.contentNight{
    background: #1b1e218a !important;
}
.contentNight .woocommerce h1, .contentNight .woocommerce h2, .contentNight .woocommerce h3, .contentNight .woocommerce h4, .contentNight .woocommerce h5, .contentNight .woocommerce h6{
    color: rgba(255, 255, 255, 0.85);
}
.contentNight .card__summary{
    color: #ddd;
}
.anticon svg{
    margin-top: -8px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}
.ant-slider-track{
    background-color: #ff991b !important;
}
.ant-slider-handle.ant-tooltcontentip-open{
    border-color: #d06f1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #d06f1a;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d3e15;
  visibility: visible;
}
a, a:hover{
    text-decoration: none !important;
}
