@font-face {
  font-family: 'Aquawax';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Aquawax/Aquawax Light Trial.ttf') format('truetype');
}
@font-face {
  font-family: 'Aubrey';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Aubrey/AUBREY1__.TTF') format('truetype');
}
@font-face {
  font-family: 'Lexio';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Lexio/LEIXO-DEMO.ttf') format('truetype');
}
@font-face {
  font-family: 'symply';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/symply/Simply Rounded.ttf') format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  font-family: Lexio, Aubrey, Aquawax, "sans-serif";
}
